# Adresy API
BASE_URL="https://api.pokiepaws.pl"
BASE_UR_local="http://10.0.2.2:9090"
BASE_URL_Serwer = "https://api.pokiepaws.pl"
# Klucze do usług (używane wewnątrz aplikacji)
MAPS_API_KEY=twoj_klucz_google_maps
FIREBASE_KEY=twoj_klucz_firebase

# Tokeny narzędziowe (używane tylko przez Gradle, nie trafiają do APK)
SONAR_TOKEN=squ_c4fc497105b11e58b10651d0134323aa8520fd12
